.header__main {
   height: 80px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.nav__list {
   display: flex;
   flex-direction: row;
   gap: 30px;
   li {text-transform: uppercase; cursor: pointer;}
}

.header__logo {z-index: 11;}

.header__search {
   z-index: 11;
   display: flex;
   gap: 24px;
   margin-right: 20px;
}

.burger-icon {
   display: none;
   width: 50px;
   height: 50px;
   align-items: center;
   justify-content: center;
   z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
   display: block;
   width: 30px;
   height: 3px;
   border-radius: 100px;
   background-color: black;
   transition: all .4s;
}

.burger-icon span {
   position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
   content: '';
   position: absolute;
}

.burger-icon span::before {
   top: -8px;
}

.burger-icon span::after {
   bottom: -8px;
}

.body--opened-menu .burger-icon span {
   background: transparent;
}

.body--opened-menu .burger-icon span::before {
   top: 0px;
   transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
   bottom: 0px;
   transform: rotate(-45deg);
}